SUBSYSTEM=="tty", SUBSYSTEMS=="usb-serial", ATTRS{port_number}=="0", MODE="0666", SYMLINK+="novatel0", GROUP="dialout"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb-serial", ATTRS{port_number}=="1", MODE="0666", SYMLINK+="novatel1", GROUP="dialout"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb-serial", ATTRS{port_number}=="2", MODE="0666", SYMLINK+="novatel2", GROUP="dialout"
